.plantDetailWrap .img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.plantDetailMenu {
  padding: 4px;
  display: flex;
  gap: 2px;
}

.plantDetailMenu button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plantDetailMenu button .icon {
  fill: red;
  stroke: blue;
  width: 24px;
  height: 24px;
}
