.plantCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plantCard img {
    width: 100%;
    aspect-ratio: 1/1; /* makes image a square based on its width */
    object-fit: cover;
    border-radius: 50%;
    display: block;
    transition: transform 0.3s
}

.plantCard img:hover {
transform: scale(1.05);
cursor: pointer;
}
.plantCard p {
    margin-top: 0.5rem;
}