.noPlantsWrap{
    border-radius: 8px;
    padding: 1rem;
    width: fit-content;
    background-color: var(--sand);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.noPlantsWrap p:nth-child(1){
    color: var(--dark-brown);
    font-size: 28px;
}
.noPlantsWrap p:nth-child(2){
    color: var(--brown);
    font-size: 32px;
}

.plantList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem
}
