.formWrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form{ display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
margin-bottom: 0.5rem;
}

.forgotPassword{
    text-align: end;
    align-self: flex-end;
}