.inputBox {
    width: 100%;
}
.inputBox label{
    color: var(--black)
}
.inputWrap{
    width: 100%;
    position: relative;
    margin: 0.5rem 0;
}
.input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--black);
    background-color: var(--pale-yellowish-green);
}

.error{
    min-height: 1.2em;
    font-size: 0.875rem;
     color: var(--red);
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    fill: none;
}