*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {

} */

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
/* body {
  min-width: 320px;
  min-height: 100vh;
} */

button {
border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


