.header{
    background: #6b8c42;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .link{
    color: var(--black);
    transition: transform 0.1s ease;
}

.header .link:hover{
    color: var(--brown);
    transform: scale(0.97);
}

.authLink {
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    padding:0.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    color: var(--black);
}
.authLink:hover{
transform: scale(0.95);
color: var(--brown);
}
.header .activeLink{
    text-decoration: underline;
}
.header .authWrap{
    display: flex;
    gap: 1rem;
}

.header .authWrap button{
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}
.header .icon{
    width: 100%;
    height: 100%;
    fill: var(--brown);
}